{% set ckan_29_or_higher = h.version(h.ckan_version()) > h.version('2.9') %}

{% set snippet_type = 'asset' if ckan_29_or_higher else 'resource' %}
{% snippet 'featuredviews/snippets/featuredviews_' ~ snippet_type ~ '.html', name='featured/featured_js' %}

{% set views_created = views or resource_preview %}
{% if views_created %}
  {% if h.check_access('package_update', {'id':pkg.id }) and view_id %}
    {% set featured = h.get_featured_view(view_id) %}
    <div style="float:right; display:inline-block;">
      {% if featured.canonical %}
        <button id="canonical" type="button" class="btn btn-default active">{{_("Current Canonical View")}}</button>
      {% else %}
        <button id="canonical" type="button" class="btn btn-default">{{_("Set as Canonical View")}}</button>
      {% endif %}
      {% if h.display_homepage_views() %}
        <button id="homepage" type="button" class="btn btn-warning {{ 'active' if featured.homepage }}">{{_("Show on Home Page")}}</button>
      {% endif %}
    </div>
  {% endif %}
  <ul class="nav nav-tabs {{ extra_class }}" {{ extra_attributes }}>
    {% if resource_preview %}
      <li{% if not view_id %} class="active"{% endif %}>
        {% if ckan_29_or_higher %}
          {% set resource_read_url = h.url_for('resource.read', id=pkg.name, resource_id=resource.id) %}
        {% else %}
          {% set resource_read_url = h.url_for(controller='package', action='resource_read', id=pkg.name, resource_id=resource.id) %}
        {% endif %}
        <a href="{{ resource_read_url }}" >
          <i class="icon-eye-open fa fa-eye-open"></i>
          {{ _("Resource Preview") }}
        </a>
      </li>
    {% endif %}

    {% set current_filters = request.args.get('filters') if ckan_29_or_higher else request.str_GET.get('filters') %}
    {% for view in views %}
      {% set is_selected = true if view_id == view.id else false %}
      {% snippet "package/snippets/resource_views_list_item_featured.html",
         view=view,
         pkg=pkg,
         is_edit=is_edit,
         is_selected=is_selected,
         current_filters=current_filters
      %}
    {% endfor %}

  </ul>
{% endif %}
