{% set ckan_29_or_higher = h.version(h.ckan_version()) > h.version('2.9') %}

{% if is_edit %}
  {% set named_route = 'resource.edit_view' if ckan_29_or_higher else 'edit_view' %}
{% else %}
  {% set named_route = 'resource.read' if ckan_29_or_higher else 'resource_read' %}
{% endif %}

{% if current_filters %}
  {% set url = h.url_for(named_route, id=pkg.name,
                         resource_id=view.resource_id, view_id=view.id,
                         filters=current_filters) %}
{% else %}
  {% set url = h.url_for(named_route, id=pkg.name,
                         resource_id=view.resource_id, view_id=view.id) %}
{% endif %}

<li {% if is_selected %}class="active view_item"{% endif %} data-id="{{ view.id }}">
  <a href="{{ url }}" data-id="{{ view.id }}">
    <i class="icon-{{ h.resource_view_icon(view) }} fa fa-{{ h.resource_view_icon(view) }}"></i>
    {{ view.title }}
  </a>
</li>
